.add-form {
    width: 270px;
    height: 36px;
    display: flex;
    align-items: center;
}

.add-inp {
    width: 190px;
    border: .5px solid rgba(128, 128, 128, 0.477);
    border-radius: 5px;
    padding: 5px;
    font-weight: 200;
    font-size: 20px;
}

.add-btn {
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.474);
    color: white;
    margin-left: 20px;
    transition: transform .4s ease;
}
.add-btn:hover {
    transform: translateY(-10%);
}