.task-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.important {
    background-color: rgba(234, 173, 19, 0.306);
}

.task-item {
    border: .5px solid rgba(128, 128, 128, 0.477);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 1px 1px 1px .5px rgba(16, 16, 16, 0.113);

}
.task-item-span {
    font-weight: 200;
    max-width: 280px;
    font-size: 20px;
    margin-left: 10px;
    overflow: hidden;
}
.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(255, 0, 0, 0.463);
    color: white;
    border-radius: 10px;
    width: 35px;
    height: 30px;
    transition: transform .4s ease;
    box-shadow: 1px 1px 1px 1px rgba(255, 0, 0, 0.156);
}

.delete-btn:hover {
    transform: translateY(-8%);
}

.cross-icon {
    width: 18px;
}

.flag-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(252, 183, 8, 0.639);
    box-shadow: 1px 1px 1px 1px rgba(252, 183, 8, 0.255);
    color: white;
    border-radius: 10px;
    width: 35px;
    height: 30px;
    transition: transform .4s ease;
    margin-right: 15px;
}

.flag-btn:hover {
    transform: translateY(-8%);
}

.flag-icon {
    width: 18px;
}

.task-item-container {
    display: flex;
    flex-direction: row;
}